<div class="row">
  <div class="col-xs-12">
    <div class="footer ">
      <p class="pull-right small">
        Made by <a href="http://rasmusrygaard.com">Rasmus Rygaard</a>.
        Icons via <a href="http://www.freepik.com" title="Freepik">Freepik</a>@<a href="http://www.flaticon.com" title="Flaticon">flaticon.com</a>. <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
        </p>
    </div>
  </div>
</div>
