<div class="row">
  <div class="col-xs-2">
    {{#unless hideBackButton}}
    <button type="button" class="btn btn-default home-button pull-right">
      <span class="glyphicon glyphicon-th-list"></span>
    </button>
    {{/unless}}
  </div>
  <div class="col-xs-8">
    <div class="header">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-default fullscreen-button">
      <span class="glyphicon glyphicon-resize-full"></span>
    </button>
  </div>
</div>
