<div class="header">
  <h1>{{script.title}}</h1>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4 col-xs-offset-3 col-sm-offset-4 col-md-offset-4">
    <div class="panel panel-default timer-panel" id="timer" style="display:none;">

      <div class="panel-heading">

        <table class="timer-table">
          <tr>
            <td class="text-right minutes">
              <p id="minutes-time">0</p>
            </td>

            <td class="text-right time-separator">
              <p id="minutes-time">:</p>
            </td>

            <td class="text-right seconds">
              <p id="seconds-time">0</p>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>

</div>

<div>
  <div class="panel-body">
    <h4>Enter:</h4>
    <p id="sceneFoo"></p>
  </div>

</div>

