<div class="header">
  <h1>Coffee Scripts</h1>
</div>

<div class="row" id="program">
  <div class="col-xs-8 col-xs-offset-2">

    <div class="row">

      <p>Let's play! Pick a script to get going.</p>

      <ul id="scripts" class="list-group">
        {{#each script}}
          <li class="list-group-item script-item">
            <h3>
              <a href="#" id="{{id}}" class="list-group-item-heading script-link">{{title}}</a>
            </h3>
          </li>
        {{/each}}
      </ul>

    </div>

  </div>

</div>
