{{>header this}}

<div class="row" id="program">
  <div class="col-xs-8 col-xs-offset-2">

    <div class="row">

      <p>
        Coffee Scripts lets you try the best Aeropress recipes from your favorite roaster.
        Let's play!
        Pick a script to get going.
      </p>
    </div>
    <div class="row">
      <ul id="scripts" class="list-group">
        {{#each script}}
          <li class="list-group-item script-item">
            <h3>
              <a href="" id="{{id}}" class="list-group-item-heading script-link">{{title}}</a>
            </h3>
          </li>
        {{/each}}
      </ul>

    </div>

  </div>

</div>
