<div class="header">
  <h1>{{script.title}}</h1>
</div>

<div class="row" id="program">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="row">
      <p>{{script.description}}</p>

      {{#if hasPrelude}}
        <h3>Preliminaries</h3>

        <ul>
          {{#each script.prelude}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{/if}}

      <p class="text-center" id="start-button-box">
        <button type="button" class="btn btn-primary btn-lg" id="start-button">Begin</button>
      </p>

    </div>


  </div>

</div>
